$background: #F6F6F8;

$primary: #C60021;
$secondary: #E3E3E3;
$warning: #F7DB86;
$danger: #F76D84;
$info: #607BF7;
$success: #54F773;
$none: $background;

$text: #000000;
$light-text: $background;

$primary-text: $light-text;
$secondary-text: lighten($text, 25%);
$warning-text: $text;
$danger-text: $light-text;
$info-text: $light-text;
$success-text: lighten($text, 25%);
$none-text: lighten($text, 25%);