.hero {
    width: 100%;
    margin: 0;
    padding: 3rem;
    background-color: $secondary;

    &--title {
        font-size: 4.5rem;
        font-weight: bold;
        text-align: center;
        margin: 3rem;
    }

    &--subtitle {
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
        margin: 2rem;
    }

    &--link {
        color: $light-text;
        padding: 2rem;
        margin: 2rem;

        &-container {
            width: 100%;
            text-align: center;
        }

        &:active, &:visited, &:hover {
            color: $light-text;
        }
    }
}