.row {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    [class*="col-"] {
        display: inline-block;
        float: left;
        padding: 1.5rem;

        &.no-padding {
            padding: 0;
        }
    }

    .col-1 {
        width: calc(100% * (1/12));
    }

    .col-2 {
        width: calc(100% * (2/12));
    }

    .col-3 {
        width: calc(100% * (3/12));
    }

    .col-4 {
        width: calc(100% * (4/12));
    }

    .col-5 {
        width: calc(100% * (5/12));
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: calc(100% * (7/12));
    }

    .col-8 {
        width: calc(100% * (8/12));
    }

    .col-9 {
        width: calc(100% * (9/12));
    }

    .col-10 {
        width: calc(100% * (10/12));
    }

    .col-11 {
        width: calc(100% * (11/12));
    }

    .col-12 {
        width: 100%;
    }

    .offset-1 {
        margin-left: calc(100% * (1/12));
    }

    .offset-2 {
        margin-left: calc(100% * (2/12));
    }

    .offset-3 {
        margin-left: calc(100% * (3/12));
    }

    .offset-4 {
        margin-left: calc(100% * (4/12));
    }

    .offset-5 {
        margin-left: calc(100% * (5/12));
    }

    .offset-6 {
        margin-left: 50%;
    }

    .offset-7 {
        margin-left: calc(100% * (7/12));
    }

    .offset-8 {
        margin-left: calc(100% * (8/12));
    }

    .offset-9 {
        margin-left: calc(100% * (9/12));
    }

    .offset-10 {
        margin-left: calc(100% * (10/12));
    }

    .offset-11 {
        margin-left: calc(100% * (11/12));
    }
}
