@page "/"
<NavBar Size="Size.Small">
    <NavBarMenu>
        <NavBarMenuBlock>
            <NavBarLink Href="#">Test link</NavBarLink>
            <NavBarButton Inverted="true" Clicked="OpenModal">Test button</NavBarButton>
        </NavBarMenuBlock>
        <NavBarMenuBlock>
            <NavBarLink Href="#">Test link</NavBarLink>
            <NavBarLink Href="#" Inverted="true">Another link</NavBarLink>
        </NavBarMenuBlock>
    </NavBarMenu>
</NavBar>

<Button Color="Color.Secondary">Secondary</Button>
<Button Color="Color.Primary">Primary</Button>
<Button Color="Color.None">None</Button>
<Button Color="Color.Warning">Warning</Button>
<Button Color="Color.Info">Info</Button>
<Button Color="Color.Success">Success</Button>
<Button Color="Color.Danger">Danger</Button>


<Button Color="Color.Primary" Size="Size.Large"><i class="icofont-check"></i></Button>
<Button Color="Color.Primary" Size="Size.Small">Small</Button>

<Button Block="true">Block button</Button>
<Button Disabled="true" Color="Color.Primary">Disabled</Button>
<Button Disabled="true" Color="Color.Secondary">Disabled</Button>

<Modal @ref="ModalRef" Height="80" TiTle="Test modal title"></Modal>

<Row>
    <Column Size="ColumnSize.Col5" Offset="Offset.Offset2">
        <p>
            orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit rutrum mi nec dictum. Vivamus ac pulvinar turpis, non scelerisque eros. Sed vitae velit in nulla aliquam euismod laoreet a dolor. Morbi sollicitudin, mauris nec interdum vulputate, dolor purus condimentum magna, non tempor lorem nunc sit amet leo. Proin vulputate nisi et sagittis condimentum. Donec eu velit mollis, aliquam leo et, viverra diam. Suspendisse rhoncus vehicula tempus. Sed ullamcorper vitae est ullamcorper porttitor. Duis ac dolor porta, eleifend ligula ut, consectetur turpis. Phasellus nisl dolor, semper sed dignissim eleifend, ornare ac arcu. In hac habitasse platea dictumst. Etiam elementum erat dui, eu pellentesque velit facilisis vel.
        </p>
        <p>
            Integer ac semper lacus. Phasellus id mollis leo, ac consectetur enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque auctor quam at dui pretium, nec blandit nibh suscipit. Fusce at ante eros. Praesent efficitur sagittis venenatis. Praesent placerat libero non vestibulum dapibus.
        </p>
        <p>
            Proin mattis leo sit amet neque varius, dignissim pretium sem convallis. Nunc sed ex pharetra, pharetra felis a, pulvinar metus. Nam vitae est et eros tempor ultricies vel non lectus. Aenean non dolor non turpis suscipit maximus. Sed finibus in ipsum ac ultricies. Etiam interdum tristique nisi condimentum tincidunt. Quisque ac augue in mi euismod viverra. Donec leo lectus, tincidunt a augue et, sollicitudin scelerisque nisl. Suspendisse ultricies erat non ipsum ullamcorper, vel sollicitudin est porta. Sed eget tempor mauris, sed gravida magna. Ut elementum diam libero, ac scelerisque lacus dapibus at. Duis ante lorem, elementum a tellus vitae, cursus mattis libero. Sed nunc sapien, porta quis eleifend eu, commodo id quam.
        </p>
        <p>
            Donec aliquam arcu at neque sodales, et tempor elit sollicitudin. Morbi in porta enim. Sed sit amet justo et massa aliquet pulvinar varius ut massa. Nullam varius nisi non ipsum semper, eget bibendum erat vulputate. Integer tincidunt laoreet blandit. Etiam maximus accumsan ullamcorper. Mauris porta pharetra sapien, ut vehicula dui efficitur ac. Donec egestas ut ipsum nec feugiat. Vivamus sed nulla eros. Proin at lorem ac ligula sollicitudin dignissim eu ac mauris. Suspendisse eleifend ullamcorper aliquet. Donec vestibulum ultrices nisi non tempor. Sed vehicula rutrum nisl, sit amet posuere ligula faucibus non.
        </p>
        <p>
            Cras lobortis pretium odio, non faucibus eros viverra ut. Proin dignissim augue ac aliquam aliquet. Nulla scelerisque purus a nibh viverra faucibus. Nunc purus ligula, semper eu justo ut, tempus porttitor leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus, arcu in convallis facilisis, quam nibh suscipit felis, eget faucibus tellus lectus nec nunc. Nam ut posuere turpis. Praesent quis quam ac orci auctor ullamcorper vel sed lectus. Donec commodo dolor eros, at volutpat libero dignissim sit amet. Vestibulum a aliquam mauris, ac euismod eros. Donec sagittis at ligula ac lacinia. Fusce suscipit, urna vel blandit luctus, est tortor finibus leo, et efficitur odio ex non lectus.
        </p>
        <p>
            Quisque nec cursus lectus. Suspendisse finibus felis nec sem posuere, sed maximus mi mattis. Suspendisse in pulvinar ipsum. Morbi lobortis lorem vitae quam scelerisque, nec tempor lorem pulvinar. Sed scelerisque mi vel neque convallis fringilla. Cras dictum auctor commodo. Vestibulum eget lectus dignissim, aliquam erat a, dictum arcu. Aliquam scelerisque urna risus, in viverra odio suscipit molestie. Vivamus malesuada turpis id leo faucibus elementum. Suspendisse potenti. Nam ac mauris aliquam, luctus diam id, ullamcorper enim. Nullam tempus ullamcorper rutrum. Sed odio eros, tempus ac arcu nec, viverra luctus nibh. Donec dapibus, lectus ut gravida semper, mauris justo suscipit orci, nec vehicula nisi erat id mauris. Nam dui ante, gravida a magna in, rhoncus mollis erat. Quisque ac dignissim sapien.
        </p>
        <p>
            In porttitor nibh in turpis varius, id scelerisque lectus molestie. Sed molestie velit faucibus placerat faucibus. Suspendisse et enim commodo, rutrum metus at, auctor quam. In nisl arcu, eleifend id turpis nec, aliquet scelerisque velit. Vestibulum odio nibh, tincidunt eu maximus at, vestibulum quis purus. Mauris vel ligula vestibulum, gravida orci id, molestie augue. Fusce ut lacus lobortis, venenatis risus molestie, tristique velit. Curabitur facilisis nulla sit amet massa luctus ultrices. Fusce laoreet vel dui nec laoreet. Nulla vehicula lorem id urna commodo, non finibus orci vulputate. Cras dapibus sapien vitae imperdiet bibendum. Duis posuere, sem eu sodales mollis, metus nulla tempor urna, facilisis imperdiet est urna quis mauris. Aliquam vitae facilisis libero. Quisque eget est quis massa tincidunt ultricies non et dui.
        </p>
        <p>
            Ut dignissim suscipit felis vitae bibendum. Proin vel sem ipsum. Praesent sit amet lacus id quam commodo cursus. Nam eget ultricies ligula, condimentum eleifend elit. Nunc sollicitudin vitae quam sed condimentum. Proin placerat congue fermentum. Phasellus ligula diam, luctus a turpis vitae, accumsan vulputate ante. Praesent tincidunt ante eu enim rhoncus, in ullamcorper magna ornare. Proin congue, libero quis mollis imperdiet, nunc nulla ullamcorper justo, non pharetra nibh sem ut arcu.
        </p>
        <p>
            Morbi eget vestibulum tortor. Nulla facilisi. Quisque magna leo, posuere in augue a, facilisis consequat diam. Donec at sapien scelerisque, molestie ante eu, accumsan enim. Donec sodales tortor dapibus lacus viverra blandit. Pellentesque pellentesque pharetra hendrerit. Nunc eget tortor tincidunt, ultricies ante ac, faucibus arcu. In hac habitasse platea dictumst.
        </p>
        <p>
            In interdum neque quis sollicitudin aliquam. Donec porta in nisi in elementum. Nullam faucibus dolor quis lorem semper convallis. Vestibulum condimentum a felis nec accumsan. Quisque a tincidunt lectus, at elementum ex. Vivamus ullamcorper quis lacus nec laoreet. Curabitur neque purus, suscipit a ultrices vel, elementum tristique nisl. Sed quis magna id nulla condimentum scelerisque. In placerat magna at magna finibus fringilla. Integer ex risus, placerat id dui et, maximus mollis quam.
        </p>
        <p>
            In non pharetra dolor. Fusce facilisis, sapien ut facilisis rutrum, ex odio dictum libero, in tincidunt ante leo non mauris. Phasellus cursus porttitor tellus at ornare. Quisque egestas finibus dui, a porta erat finibus non. Donec accumsan ex arcu, et sodales eros lobortis id. Praesent eleifend, purus nec auctor tincidunt, quam turpis pharetra risus, et consequat nisi massa in sapien. Aliquam fermentum ullamcorper tellus sed sollicitudin. Vestibulum ac dolor lorem. Maecenas porttitor mi eget nunc imperdiet convallis.
        </p>
        <p>
            Nunc dictum est diam, vitae tempor magna mollis vel. Suspendisse potenti. Praesent rutrum neque mollis aliquet fermentum. Proin risus sem, tincidunt in rutrum vitae, fringilla et ex. Nullam ut tincidunt augue. Sed diam sem, bibendum non egestas at, aliquam vitae elit. Etiam enim justo, convallis in quam tempor, rhoncus ornare dolor. Suspendisse ut tortor sit amet lacus auctor dapibus. In faucibus odio faucibus, aliquam turpis vitae, tempus magna. Vestibulum eget maximus leo. Quisque id mattis leo. Etiam in dapibus leo, a interdum massa. Phasellus ut augue vitae orci finibus fermentum at vel libero. Vestibulum sit amet dolor risus. Sed lacus purus, blandit sed sagittis ut, tristique nec risus. Suspendisse in dui neque.
        </p>
        <p>
            Etiam mollis accumsan augue, vel consectetur massa lacinia quis. Nunc in eros libero. Sed mattis ligula diam, interdum finibus elit dignissim sed. Curabitur vel mauris ac lectus dictum pharetra. Quisque vitae risus ut risus sollicitudin convallis sed vitae orci. Morbi cursus, tellus nec porta venenatis, metus sem hendrerit mauris, eget eleifend ligula tellus sit amet metus. Sed in orci neque. Etiam ornare erat eu egestas lacinia. Nunc ac nisl interdum neque convallis tempus at quis erat. Nunc quis libero tristique, condimentum tortor quis, hendrerit diam. Maecenas at egestas nisi. Nullam ultrices lacus felis, ut placerat mi fermentum commodo. Nunc dolor dolor, blandit et justo in, hendrerit vestibulum enim. Quisque consectetur velit eget orci lacinia, a commodo lorem hendrerit. Nullam sagittis consequat fringilla.
        </p>
        <p>
            Donec ut ornare ligula, nec pulvinar odio. Nullam sed tristique libero. Curabitur feugiat feugiat erat et hendrerit. Praesent porta placerat ex, at efficitur purus dignissim sed. Ut hendrerit rhoncus cursus. Quisque suscipit lorem ac velit tincidunt vestibulum. Morbi iaculis vestibulum neque, ac vestibulum orci imperdiet ac. Quisque felis mi, sollicitudin sollicitudin convallis a, volutpat sed quam. Nullam a metus auctor, maximus quam non, commodo nunc. Morbi euismod orci sit amet magna consectetur, eu vestibulum justo laoreet. Suspendisse vestibulum sed sem sit amet blandit. Praesent a congue lorem.
        </p>
        <p>
            Nullam volutpat, nulla a mattis accumsan, est ex tristique nisl, nec dapibus risus magna ac lorem. In eu elit lectus. Sed nulla est, condimentum nec arcu in, pellentesque aliquam ligula. Fusce mattis, risus euismod lacinia ullamcorper, odio lectus laoreet massa, ac cursus nunc arcu sit amet leo. Fusce laoreet malesuada tempus. Cras id lorem at purus dapibus facilisis. Morbi vitae arcu quis lorem rutrum bibendum et vel lectus.
        </p>
        <p>
            Etiam a sodales augue. Nam non dolor ipsum. Maecenas condimentum sit amet lectus non accumsan. Nunc interdum nunc at dui finibus aliquam. Cras ac tincidunt quam, et sollicitudin purus. Suspendisse suscipit sodales augue, id lobortis nisi. Proin non porttitor orci. Vestibulum commodo dolor tortor, at convallis leo condimentum nec. Cras tristique porttitor enim, ac porttitor tellus tincidunt a. Nulla sem tellus, cursus at risus eget, aliquet malesuada magna. Maecenas id condimentum nibh. Ut nec malesuada lorem, ultrices tincidunt nunc.
        </p>
        <p>
            Nulla facilisi. In ornare odio sed pulvinar ultricies. Aliquam pretium ante nisi, posuere placerat odio laoreet eu. Etiam mi quam, volutpat ac leo sit amet, bibendum eleifend dolor. Etiam non tortor eget eros dictum egestas ut vel nisi. Quisque ac elementum dolor. Aenean blandit dui diam, non porttitor nisl sagittis non. Nam volutpat pellentesque semper.
        </p>
        <p>
            Vestibulum sed nibh luctus, vestibulum lorem id, sodales dui. Vestibulum et ullamcorper turpis. Nunc consequat risus arcu, vel efficitur augue porta non. In iaculis felis nec nisi porttitor consequat ac in ex. Phasellus in risus urna. Maecenas porttitor blandit ligula quis mattis. Etiam elementum ultrices felis, ut cursus sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc purus tellus, mollis eget metus eget, placerat auctor sapien. Vestibulum ligula lectus, maximus quis est in, vulputate consequat metus. Proin in orci nec massa ultricies malesuada vitae a ante. Quisque auctor tellus sed turpis ornare, quis tincidunt justo dictum. Nam bibendum, neque et bibendum porttitor, arcu leo hendrerit leo, malesuada cursus felis turpis placerat libero.
        </p>
        <p>
            Vivamus mollis mauris sapien, non viverra ex facilisis ut. Curabitur malesuada blandit nulla, eu tristique est accumsan id. Praesent non metus ligula. Nulla facilisi. Nullam sit amet sapien imperdiet, ullamcorper turpis a, dictum nisl. Proin mattis, leo id faucibus auctor, neque eros pellentesque dui, et efficitur magna tellus ut erat. Sed nec ante et ante rutrum eleifend non in eros. Phasellus interdum placerat massa et tempus.
        </p>
    </Column>
</Row>


@code
{
    private Modal ModalRef { get; set; }

    private void OpenModal()
    {
        ModalRef.Show();
    }
}