@page "/"
@layout MainLayout

<HeroPanel Title="BlazUI" SubTitle="The best components library for Blazor applications" LinkUrl="/introduction" LinkText="Learn more"></HeroPanel>

<Row>
    <Column Size="ColumnSize.Col6" Offset="Offset.Offset3">
        <h2>Key features</h2>
    </Column>
</Row>