/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Nunito", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video article, aside,
details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  color: #000000;
}

body {
  background-color: #F6F6F8;
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
}

p {
  padding: 1rem;
}

a {
  color: #404040;
  text-decoration: underline;
}
a:hover {
  color: #F6F6F8;
}
a:active, a:visited {
  color: #404040;
}

.btn {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
  font-weight: normal;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.6;
}
.btn-primary {
  background-color: #C60021;
  color: #F6F6F8;
  border-color: #C60021;
}
.btn-primary * {
  color: #F6F6F8;
}
.btn-secondary {
  background-color: #E3E3E3;
  color: #404040;
  border-color: #E3E3E3;
}
.btn-secondary * {
  color: #404040;
}
.btn-warning {
  background-color: #F7DB86;
  color: #000000;
  border-color: #F7DB86;
}
.btn-warning * {
  color: #000000;
}
.btn-danger {
  background-color: #F76D84;
  color: #F6F6F8;
  border-color: #F76D84;
}
.btn-danger * {
  color: #F6F6F8;
}
.btn-info {
  background-color: #607BF7;
  color: #F6F6F8;
  border-color: #607BF7;
}
.btn-info * {
  color: #F6F6F8;
}
.btn-success {
  background-color: #54F773;
  color: #404040;
  border-color: #54F773;
}
.btn-success * {
  color: #404040;
}
.btn-none {
  background-color: #F6F6F8;
  color: #404040;
  border-color: #404040;
}
.btn-none * {
  color: #404040;
}
.btn-small {
  font-size: 75%;
  padding: 0.2rem 0.3rem;
}
.btn-small * {
  font-size: 75%;
}
.btn-default {
  font-size: 100%;
  padding: 0.4rem 0.6rem;
}
.btn-default * {
  font-size: 100%;
}
.btn-large {
  font-size: 140%;
  padding: 0.6rem 1rem;
}
.btn-large * {
  font-size: 140%;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn:disabled {
  opacity: 0.3;
}

a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #E3E3E3;
  color: #404040;
  display: block;
  width: 100%;
  border: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar-default {
  height: 4em;
}
.navbar-default > * {
  font-size: 100%;
}
.navbar-default .navbar-link {
  padding: 1.45rem;
}
.navbar-small {
  height: 2.5em;
}
.navbar-small > * {
  font-size: 75%;
}
.navbar-small .navbar-link {
  padding: 0.7rem;
}
.navbar-large {
  height: 6em;
}
.navbar-large > * {
  font-size: 140%;
}
.navbar-large .navbar-link {
  padding: 2.5rem;
}
.navbar-link {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}
.navbar-link-button {
  display: inline-block;
  border-width: 0;
}
.navbar-link-button:disabled {
  opacity: 0.3;
}
.navbar-link-primary {
  color: #C60021;
  background-color: #E3E3E3;
}
.navbar-link-primary:hover {
  color: #E3E3E3;
  background-color: #C60021;
}
.navbar-link-primary-inverted {
  color: #E3E3E3;
  background-color: #C60021;
}
.navbar-link-primary-inverted:hover {
  color: #C60021;
  background-color: #E3E3E3;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.navbar-menu-block {
  display: inline-block;
}

.modal {
  position: absolute;
  background-color: #F6F6F8;
  z-index: 2001;
  box-shadow: 5px 5px 3px rgba(3, 3, 3, 0.4);
  transition: opacity 0.4s;
}
.modal-default {
  width: 50vw;
  left: calc((100vw - 50vw) / 2);
}
.modal-small {
  width: 30vw;
  left: calc((100vw - 30vw) / 2);
}
.modal-large {
  width: 70vw;
  left: calc((100vw - 70vw) / 2);
}
.modal:not(.visible) {
  display: none;
  opacity: 0;
}
.modal.visible {
  display: block;
  opacity: 1;
}
.modal-title {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  justify-content: space-between;
}
.modal-title h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.modal-overlay {
  z-index: 2000;
  background-color: #E3E3E3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in;
}
.modal-overlay:not(.visible) {
  display: none;
  opacity: 0;
}
.modal-overlay.visible {
  display: block;
  opacity: 0.5;
}

.row {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0.5rem;
}
.row [class*=col-] {
  display: inline-block;
  float: left;
  padding: 0.5rem;
}
.row .col-1 {
  width: calc(100% * (1/12));
}
.row .col-2 {
  width: calc(100% * (2/12));
}
.row .col-3 {
  width: calc(100% * (3/12));
}
.row .col-4 {
  width: calc(100% * (4/12));
}
.row .col-5 {
  width: calc(100% * (5/12));
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: calc(100% * (7/12));
}
.row .col-8 {
  width: calc(100% * (8/12));
}
.row .col-9 {
  width: calc(100% * (9/12));
}
.row .col-10 {
  width: calc(100% * (10/12));
}
.row .col-11 {
  width: calc(100% * (11/12));
}
.row .col-12 {
  width: 100%;
}
.row .offset-1 {
  margin-left: calc(100% * (1/12));
}
.row .offset-2 {
  margin-left: calc(100% * (2/12));
}
.row .offset-3 {
  margin-left: calc(100% * (3/12));
}
.row .offset-4 {
  margin-left: calc(100% * (4/12));
}
.row .offset-5 {
  margin-left: calc(100% * (5/12));
}
.row .offset-6 {
  margin-left: 50%;
}
.row .offset-7 {
  margin-left: calc(100% * (7/12));
}
.row .offset-8 {
  margin-left: calc(100% * (8/12));
}
.row .offset-9 {
  margin-left: calc(100% * (9/12));
}
.row .offset-10 {
  margin-left: calc(100% * (10/12));
}
.row .offset-11 {
  margin-left: calc(100% * (11/12));
}

.accordion {
  width: 100%;
  margin: 0;
  padding: 0;
}
.accordion-item {
  width: 100%;
}
.accordion-item--title {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #E3E3E3;
  text-align: center;
  border-bottom: 1px solid #404040;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.accordion-item--title span {
  display: inline-block;
}
.accordion-item--content {
  width: 100%;
  padding: 0.2rem;
}
.accordion-item--content.collapsed {
  display: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  font-weight: 600;
}
.list.styled {
  list-style: circle;
}
.list-item {
  padding: 0.2em;
  margin: 0;
}
.list-item.center {
  text-align: center;
}
.list-item.nested {
  padding-left: 1em;
  font-size: 0.9em;
}

/*# sourceMappingURL=styles.css.map */
