@page "/introduction"

<h2>Introduction</h2>
<p>
    Welcome to introduction to BlazUI.
</p>
<h3>What is BlazUI?</h3>
<p>
    <b>BlazUI</b> is an open-source library which provides components and methods for Blazor applications.
</p>
<p>
    Library is focused on enterprise applications. It means that components are adapted to displaying more data on desktop screens.
</p>